doctype html5
html(lang='en')

	head

		title WireWax Player Class

		meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', type='text/css', href='style.css')
		<script>var debug = true;</script>
		script(type='text/javascript', src='WWvideo-min.js')
	body

		#video.rel

		#debug.abs

		#buttons
			button#video1.btn Load Video 1
			button#video1ap.btn Load Video 1 (autoplay)
			button#video2.btn Load Video 2
			button#video2ap.btn Load Video 2 (autoplay)

		script(type='text/javascript', src='main.js')